*{
padding: 0;
margin: 0;
}
.App{
  background-color: #f7f7f7;
  min-height: 100vh;
}

                                  /* REGISTER */
.Register .card{
  border: none;
}
.Register form{
  padding: 25px 40px;
}
.Register label{
  color: #7e7e7e;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 20px;
}
.Register{
  padding-top: 10px;
}
.Register button{
  background-color: #eb8153;
  border: #eb8153;
  color: white;
}
.Register Button:hover{
  background-color: #eb8153;
  border: #eb8153;
}
.Register p{
  padding-top: 10px;
  color: #7e7e7e;
  font-size: 1.1rem;
}
.Register  p .a{
  color: #eb8153; 
  text-decoration: none;
}

                                  /* LOGIN */

.Login .form-row label{
  font-size: 1.1rem;
}
.Register .link{
  text-decoration: none;
  color: #7e7e7e;
}
.Register .link:hover{
  color: #eb8153;
}

                                    /* FORGET */
.Forgetpass{
  padding-top: 7%;
}

.Forgetpass h4{
  font-weight: 700;
}
.Forgetpass .card{
  padding-bottom: 15px;
}
