*{
  margin: 0;
  padding: 0;
  color: #435160
}
#Register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}
#Register .card,#Register input{
  border: 0;
  font-size: 25px;
}
#Register .card{
  box-shadow: 0 0.30rem 0.85rem rgba(29, 35, 44, 0.15);
}
#Register input{
  border: 0;
  border-radius: 0;
}
#Register .form-check-input{
  box-shadow: 0 0.30rem 0.85rem rgba(29, 35, 44, 0.15);
}
#Register h1{
  color: #6D7781;
  font-family: 'Sofia', cursive;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}
#Register .form-control{
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  color: #6D7781;
  font-size: 20px;
}
#Register  .form-check{
  margin-top: 30px;
}
#Register .btn{
  background: #1FCE6D;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s ease-in-out;
  padding: 10px 0;
  margin-top: 40px;
}
#Register .btn:hover{
  background: #16aa56;
 transform: translateY(-10px);
 transition: .5s;
}
#Register .container{
  padding: 0 20rem;
}

#Register .card-body{
  padding: 7rem 30px;
}
